@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f9;
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-family: sans-serif, Arial;
    background-color: #fff;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 22%;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  .hamburg {
    background-image: url("./assets/hamburg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    height: 30px;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 1;
  }

  .hamburg.active {
    position: fixed;
    top: 20px;
    right: 20px;
    background-image: url("./assets/surfix.svg");
    background-size: contain;
  }

  .navbar {
    position: fixed;
    top: auto;
    top: 0%;
    left: -100%;
    background-color: #6070ff;
    mix-blend-mode: multiply;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    padding: 3rem;
    transition: 0.2s;
    list-style: none;
    overflow: hidden;
  }

  li {
    list-style-type: none;
  }

  .navbar li {
    padding: 10px;
    list-style: none;
  }

  .navbar.active {
    position: fixed;
    left: 0;
    transform: translateX(0%);
    overflow: hidden;
  }

  .navbar a {
    color: #fff;
    font-size: 32px;
    text-decoration: none;
  }

  .headline {
    display: flex;
    width: 100vw;
    height: 600px;
    flex-direction: column;
    background-image: url(Asset/mobileba.SVG);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    border-bottom-left-radius: 110px;
  }

  .base {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .base h1 {
    height: 150px;
    margin-top: 100px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .base p {
    height: 146px;
    margin-left: 10%;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .base h2 {
    height: 24px;
    margin-left: 10%;
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    margin-left: 8%;
  }

  .work_section {
    display: grid;
    background-color: #f7f7f9;
    margin-top: 50px;
  }

  .grid_container {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    height: auto;
    margin-top: 80px;
    background-color: #f7f7f9;
  }

  .grid_desktop {
    display: none;
  }

  .grid_item {
    display: grid;
    grid-column: 2/3;
    width: 80%;
    margin-left: 8%;
    border-radius: 20px;
    height: 600px;
    margin-bottom: 80px;
    background: #fff;
  }

  .grid_item h2 {
    width: 65%;
    height: 36px;
    margin-top: -20px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #172b4d;
  }

  .grid_item img {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
  }

  .can {
    display: flex;
    color: #7a869a;
    font-size: 16px;
    line-height: 16px;
    margin-top: -10px;
    gap: 8px;
  }

  li.canopy {
    list-style-type: none;
    width: 80%;
    margin-left: 11%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    color: #344563;
  }

  li.backend {
    width: 100%;
  }

  li.twenty {
    width: 50%;
  }

  .grid_item p {
    width: 80%;
    margin-top: -30px;
    margin-left: 10%;
    height: 76px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .lang {
    display: flex;
    list-style-type: none;
    margin-top: -40px;
    gap: 20px;
  }

  .html {
    width: 60px;
    height: 28px;
    margin-left: 10%;
    border-radius: 8px;
    background: #ebebff;
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  }

  .html:hover {
    transform: scale(1.2) rotate(360deg);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    background: #172b4d;
  }

  li.html {
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 5px 0 0 10px;
    color: #6070ff;
  }

  li.html:hover {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 2px 0 0 10px;
    color: #fff;
  }

  .css {
    width: 60px;
    height: 28px;
    border-radius: 8px;
    background: #ebebff;
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  }

  .css:hover {
    transform: scale(1.2) rotate(360deg);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    background: #172b4d;
  }

  li.css {
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 5px 0 0 14px;
    color: #6070ff;
  }

  li.css:hover {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 2px 0 0 10px;
    color: #fff;
  }

  .javascript {
    width: 92px;
    height: 28px;
    background: #ebebff;
    border-radius: 8px;
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  }

  li.javascript {
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 5px 0 0 14px;
    color: #6070ff;
  }

  .javascript:hover {
    transform: scale(1.2) rotate(360deg);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    background: #172b4d;
  }

  li.javascript:hover {
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 5px 0 0 8px;
    color: #fff;
  }

  .seepro {
    margin-left: 10%;
    margin-top: -20px;
    width: 50%;
    height: 50px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    color: #6070ff;
    background-color: white;
    font-size: 23px;
  }

  .seepro:hover {
    background-color: #6070ff;
    color: white;
    border-color: #6070ff;
  }

  .seepro:active {
    background-color: #2230d2;
    color: #fff;
    border-color: #2230d2;
  }

  .about {
    display: flex;
    width: 99%;
    height: 1200px;
    background: #fff;
    border-top-right-radius: 100px;
  }

  .about_me {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .about_me h2 {
    height: 150px;
    margin-top: 80px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .about_me p {
    height: 146px;
    margin-left: 10%;
    margin-top: -75px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .about_me h3 {
    height: 24px;
    margin-left: 10%;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .socialm {
    display: flex;
    width: 10%;
    height: 3%;
    margin-left: -72%;
    gap: 45px;
    margin-top: 385px;
    list-style-type: none;
  }

  .socialm li {
    width: 10%;
    height: 30px;
  }

  .language {
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-top: 200px;
  }

  .gmr {
    margin-left: -127%;
    margin-top: 250px;
    width: 40%;
    height: 55px;
    border: 1px solid;
    border-radius: 10px;
    padding: 0;
    color: #6070ff;
    background-color: white;
    font-size: 21px;
  }

  .gmr:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .gmr:active {
    background-color: #2230d2;
    color: #fff;
  }

  .language h1 {
    height: 24px;
    margin-top: 40px;
    margin-left: -22%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-right: 0.5em;
  }

  .arrow {
    height: 3%;
    width: 6%;
    margin-left: 148%;
    margin-top: -30px;
  }

  .lang_drop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    margin-left: 10%;
    margin-top: 40px;
    gap: 10px;
  }

  .javas {
    width: 200%;
    height: 60px;
    margin-left: -45px;
    border-radius: 8px;
    background: #ebebff;
  }

  .lang_drop li {
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 18px 0 0 90px;
    color: #000;
  }

  .lang_drop li span {
    font-size: 16px;
    vertical-align: top;
    margin-left: -60px;
  }

  .ht {
    width: 200%;
    height: 60px;
    margin-left: -45px;
    border-radius: 8px;
    background: #ebebff;
  }

  .cs {
    width: 200%;
    height: 60px;
    margin-left: -45px;
    border-radius: 8px;
    background: #ebebff;
  }

  .pone img {
    width: 95%;
    height: auto;
  }

  .lang_drop li img {
    position: relative;
    top: 10px;
    left: -85px;
    transform: translateY(-50%);
    width: 22%;
    height: 45px;
  }

  .list {
    list-style-type: none;
    margin-top: 20px;
  }

  .list li {
    margin-top: 20px;
    margin-left: -22%;
    border-bottom: 1px solid #dfe1e6;
    padding-bottom: 20px;
    width: 200%;
  }

  .list li h2 {
    height: 24px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    margin-right: 0.5em;
  }

  .list li h3 {
    height: 24px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    margin-right: 0.5em;
  }

  .list li img {
    height: 1%;
    width: 3%;
    margin-left: 86%;
  }

  .contact {
    display: flex;
    width: 100%;
    height: 810px;
    flex-direction: column;
    background-image: url(./Asset/contact.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position-x: right;
    background-color: #6070ff;
    border-top-left-radius: 90px;
  }

  .descr {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .descr h1 {
    width: 90%;
    height: 56px;
    margin-top: 100px;
    margin-left: 15%;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    color: #fff;
  }

  .descr p {
    width: 100%;
    height: 146px;
    margin-left: 13%;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  input {
    height: 52px;
    width: 110%;
    display: flex;
    box-sizing: border-box;
    color: #1a2236;
    border: 1px solid gray;
    border-radius: 12px;
    margin-left: 10%;
    margin-bottom: 15px;
    z-index: 99;
    font-size: 14px;
    font-weight: 400;
  }

  input[type="text"] {
    padding-left: 18px;
  }

  input[type="email"] {
    padding-left: 18px;
  }

  .text-area {
    height: 150px;
    padding-top: 30px;
  }

  .texts input {
    height: 200px;
    width: 110%;
    padding: 6px 0 150px 18px;
  }

  .the-relative {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    width: 100%;
  }

  .submit {
    height: 48px;
    width: 142px;
    margin-left: 10%;
    border-radius: 10px;
    font-size: 20px;
    color: #6070ff;
  }

  .submit:hover {
    background-color: #6070ff;
    color: white;
    border-color: #091e42;
  }

  .submit:active {
    background-color: #091e42;
    color: white;
    border-color: #2230d2;
  }

  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: #fff;
  }

  .popup-container {
    position: fixed;
    display: flex;
    top: 10px;
    left: 5%;
    width: 92%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .pone {
    background-color: white;
    padding: 20px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    backdrop-filter: blur(15px);
    overflow: scroll;
  }

  .pone h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 0px;
    margin-left: 1%;
    float: left;
    margin-top: -5%;
  }

  .pone p {
    margin-top: 1%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .po {
    float: left;
    margin-left: 10px;
  }

  .canop {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #344563;
    margin-left: -2%;
  }

  .role {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin-left: 1%;
    color: #7a869a;
  }

  .year {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin-left: 1%;
    color: #7a869a;
  }

  ul.hcj {
    display: flex;
    margin-left: 5%;
    margin-top: 1%;
  }

  .pop_language {
    display: inline-block;
    background-color: #ebebff;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 5px;
  }

  li.pop_language {
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 3px -10px 1px 15px;
    color: #6070ff;
  }

  .popnewa {
    margin-left: 10px;
    margin-top: 10px;
    width: 40%;
    height: 60px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    color: #6070ff;
    background-color: white;
    font-size: 23px;
    background-image: url(/assets/livedemo.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-position-x: 90%;
    background-size: 15%;
  }

  .popnewb {
    margin-left: 20px;
    margin-top: -20px;
    width: 40%;
    height: 60px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    color: #6070ff;
    background-color: white;
    font-size: 23px;
    background-image: url(/assets/popgit.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-position-x: 98%;
    background-size: 15%;
  }

  .close {
    font-size: 30px;
    font-weight: bold;
    color: #67798e;
    margin-left: 98%;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
  }

  .hamburg {
    display: none;
  }

  .logo {
    white-space: nowrap;
    height: 30px;
    margin-left: 60px;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  .logo:hover {
    transform: scale(1.2) rotate(360deg);
  }

  nav {
    width: 100%;
  }

  .navbar {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -8px;
    box-sizing: border-box;
  }

  .navbar li {
    list-style-type: none;
    margin: 38px 25px;
    font-size: 20px;
  }

  .navbar a {
    color: #344563;
    font-size: 32px;
    text-decoration: none;
  }

  .headline {
    width: 100%;
    height: 720px;
    background-image: url(./Asset/Header\ bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    border-bottom-left-radius: 130px;
  }

  .base {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
  }

  .base h1 {
    height: 122px;
    width: 70%;
    margin-top: 250px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .base p {
    height: 98px;
    width: 90%;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .base h2 {
    width: 40%;
    height: 24px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .social {
    margin-left: 20%;
    margin-top: 3%;
  }

  .grid_container {
    display: grid;
    grid-gap: 10px;
    width: 90%;
    height: auto;
    margin-top: 80px;
    background-color: #f7f7f9;
  }

  .grid_item {
    display: inline-block;
    grid-column: 1/3;
    width: 100%;
    margin-left: 5%;
    border-radius: 20px;
    height: 600px;
    margin-bottom: 80px;
    background: #fff;
  }

  .grid_item img {
    width: 50%;
    margin-left: 10%;
    margin-top: 30px;
  }

  .grid_item h2 {
    position: relative;
    left: 5%;
    top: 12%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #172b4d;
  }

  .can {
    display: flex;
    color: #7a869a;
    font-size: 16px;
    line-height: 16px;
    margin-top: 10%;
    gap: 8px;
  }

  li.canopy {
    list-style-type: none;
    width: 80%;
    margin-left: 11%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    color: #344563;
  }

  li.backend {
    width: 100%;
  }

  li.twenty {
    width: 50%;
  }

  .grid_item p {
    width: 42%;
    margin-top: 5%;
    margin-left: 57%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .lang {
    display: flex;
    list-style-type: none;
    margin-top: 2%;
    gap: 20px;
  }

  .seepro {
    margin-left: 5%;
    margin-top: 3%;
    width: 20%;
    height: 10%;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    color: #6070ff;
    background-color: white;
    font-size: 23px;
  }

  .seepro:hover {
    background-color: #6070ff;
    color: white;
    border-color: #6070ff;
  }

  .seepro:active {
    background-color: #2230d2;
    color: #fff;
    border-color: #2230d2;
  }

  .html {
    width: 60px;
    height: 28px;
    margin-left: 10%;
    border-radius: 8px;
    background: #ebebff;
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  }

  .html:hover {
    transform: scale(1.2) rotate(360deg);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    background: #172b4d;
  }

  li.html {
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 5px 0 0 10px;
    color: #6070ff;
  }

  li.html:hover {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 2px 0 0 10px;
    color: #fff;
  }

  .css {
    width: 60px;
    height: 28px;
    border-radius: 8px;
    background: #ebebff;
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  }

  .css:hover {
    transform: scale(1.2) rotate(360deg);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    background: #172b4d;
  }

  li.css {
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 5px 0 0 14px;
    color: #6070ff;
  }

  li.css:hover {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 2px 0 0 10px;
    color: #fff;
  }

  .javascript {
    width: 92px;
    height: 28px;
    background: #ebebff;
    border-radius: 8px;
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  }

  li.javascript {
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 5px 0 0 14px;
    color: #6070ff;
  }

  .javascript:hover {
    transform: scale(1.2) rotate(360deg);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    background: #172b4d;
  }

  li.javascript:hover {
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 5px 0 0 8px;
    color: #fff;
  }

  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -100%;
    width: 90%;
    height: 80%;
    background-color: #fff;
  }

  .popup-container {
    position: fixed;
    display: flex;
    top: 10px;
    left: 5%;
    width: 92%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .pone {
    background-color: white;
    padding: 20px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    backdrop-filter: blur(15px);
    overflow: scroll;
  }

  .pone h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 0px;
    margin-left: 1%;
    margin-top: -5%;
  }

  .pone p {
    margin-top: 1%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .po {
    float: left;
    margin-left: 10px;
  }

  .canop {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #344563;
    margin-left: -2%;
  }

  .role {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin-left: 1%;
    color: #7a869a;
  }

  .year {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin-left: 1%;
    color: #7a869a;
  }

  ul.hcj {
    display: flex;
    margin-left: 5%;
    margin-top: 1%;
  }

  .pop_language {
    display: inline-block;
    background-color: #ebebff;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 5px;
  }

  li.pop_language {
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 3px -10px 1px 15px;
    color: #6070ff;
  }

  .about {
    display: flex;
    width: 100%;
    height: 600px;
    background: #fff;
    border-top-right-radius: 100px;
  }

  .about_me {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .about_me h2 {
    height: 150px;
    margin-top: 80px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .about_me p {
    height: 146px;
    width: 45%;
    margin-left: 10%;
    margin-top: -75px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .lang_drop li img {
    position: relative;
    top: 10px;
    left: -85px;
    transform: translateY(-50%);
    width: 85px;
    height: 45px;
  }

  .list li img {
    height: 1%;
    width: 3%;
    margin-left: 92%;
  }

  .descr p {
    width: 60%;
    height: 146px;
    margin-left: 30%;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  .grid_item:nth-child(odd) .lang {
    float: left;
    clear: both;
    margin-top: -12%;
    margin-left: 2%;
  }

  .grid_item:nth-child(odd) p {
    float: left;
    clear: both;
    margin-top: -19%;
    margin-left: 4%;
  }

  .grid_item:nth-child(odd) .seepro {
    margin-top: 19%;
    margin-left: 4%;
  }

  .grid_item:nth-child(odd) img {
    float: right;
    clear: both;
    margin-right: 20px;
  }

  .grid_item:nth-child(even) img {
    float: left;
    clear: both;
    margin-left: 20px;
  }

  .about_me h3 {
    height: 24px;
    margin-left: 10%;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .socialm {
    display: flex;
    width: 10%;
    height: 3%;
    margin-left: -54%;
    gap: 45px;
    margin-top: 385px;
    list-style-type: none;
  }

  .language {
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-top: 210px;
    margin-left: auto;
  }

  .language h1 {
    height: 24px;
    margin-top: -75%;
    margin-left: -22%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-right: 0.5em;
  }

  .arrow {
    height: 3%;
    width: 6%;
    margin-left: 50%;
    margin-top: -30px;
  }

  .lang_drop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    margin-top: 40px;
    gap: 60px;
  }

  .javas {
    width: 20%;
    height: 100%;
    margin-left: -45px;
    border-radius: 8px;
    background: #f7f7f9;
  }

  .lang_drop li {
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 18px 0 0 90px;
    color: #000;
  }

  .lang_drop li span {
    font-size: 16px;
    vertical-align: top;
    margin-left: -70px;
  }

  .ht {
    width: 20%;
    height: 100%;
    margin-left: -45px;
    border-radius: 8px;
    background: #f7f7f9;
  }

  .cs {
    width: 20%;
    height: 100%;
    margin-left: -45px;
    border-radius: 8px;
    background: #f7f7f9;
  }

  .list {
    list-style-type: none;
    margin-top: 20px;
  }

  .list li {
    margin-top: -10px;
    margin-left: -22%;
    border-bottom: 1px solid #dfe1e6;
    padding-bottom: 20px;
    width: 80%;
  }

  .list li h2 {
    height: 24px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    margin-right: 0.5em;
  }

  .list li h3 {
    height: 24px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    margin-right: 0.5em;
  }

  .gmr {
    margin-left: -135%;
    margin-top: 250px;
    width: 42%;
    height: 55px;
    border: 1px solid;
    border-radius: 10px;
    padding: 0;
    color: #6070ff;
    background-color: white;
    font-size: 22px;
  }

  .gmr:active {
    background-color: #2230d2;
    color: #fff;
  }

  .gmr:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .contact {
    display: flex;
    width: 100%;
    margin-top: 130px;
    height: 810px;
    flex-direction: column;
    background-image: url(./Asset/bigcontact.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    background-color: #6070ff;
    border-top-left-radius: 90px;
  }

  .descr {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .descr h1 {
    width: 90%;
    height: 56px;
    margin-top: 100px;
    margin-left: 15%;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    color: #fff;
  }

  input {
    height: 52px;
    width: 60%;
    display: flex;
    box-sizing: border-box;
    color: #1a2236;
    border: 1px solid gray;
    border-radius: 12px;
    margin-left: 31%;
    margin-bottom: 15px;
    z-index: 99;
    font-size: 14px;
    font-weight: 400;
  }

  input[type="text"] {
    padding-left: 18px;
  }

  input[type="email"] {
    padding-left: 18px;
  }

  .text-area {
    height: 150px;
    padding-top: 30px;
  }

  .texts input {
    height: 200px;
    width: 60%;
    padding: 6px 0 150px 18px;
  }

  .the-relative {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    width: 100%;
  }

  .submit {
    height: 50px;
    width: 142px;
    margin-left: 49%;
    border-radius: 10px;
    font-size: 20px;
    color: #6070ff;
  }

  .submit:hover {
    background-color: #6070ff;
    color: white;
    border-color: #091e42;
  }

  .submit:active {
    background-color: #091e42;
    color: white;
    border-color: #2230d2;
  }

  hr {
    display: none;
  }
}
